<h2 id="title">Welcome to Ember</h2>
{{#my-component bound-class="bar"}}
<div>green text because I'm inheriting color</div>
<div class="foo">foo is isolated</div>
<div class="bar">bar is isolated</div>
{{/my-component}}
{{outlet}}
